# Maven output
target/

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings/
*.xml

# OS
.DS_Store
Thumbs.db

# Logs & Reports
*.log
*.tmp
test-output/

# Compiled class files
*.class

# Node modules (if using Node tools)
node_modules/